@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Utlity*/

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

li {
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.color-blue {
  color: #00bfa6;
}

/* Navbar */
nav {
  background-color: #00bfa6;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--list {
  display: flex;
}

.nav--link {
  padding-left: 20px;
}

.nav--link__anchor {
  color: #fff;
  transition-duration: 500ms;
}

.nav--link__anchor:hover {
  text-decoration: underline;
  color: #fff;
}

.logo {
  color: #fff;
}

/* About Us */

#about-us {
  padding-top: 40px;
}

.about--us__wrapper {
  display: flex;
  justify-content: space-around;
}

.about--us__img--wrapper {
  max-width: 500px;
}

.about-us__text {
  max-width: 500px;
}

.about-us--img {
  width: 100%;
}

.about-us--title {
  padding-bottom: 10px;
}

/* Data Entry */

.data-entry--para {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  padding-bottom: 10px; /* Reduced from 20px */
}

input,
button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  background-color: #00bfa6;
  color: #fff;
  border: none;
  font-size: 14px;
}

button:hover {
  background-color: #00e8d2;
}

footer {
  margin-top: 60px;
  text-align: center;
}
